/node_modules
/public/hot
/public/storage
/public/fonts
/public/mix-manifest.json
/public/image/dish
/public/image/location
package-lock.json
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.vscode
